
<div class = "body">

<div class="category-top-row">
  <app-category-badge
    *ngFor="let c of categories"
    [category]="c.name"
    [percentage]="c.percentage"
    [count] ="c.count"
    [totalVideos] = "totalVideos"
    [iconName]="c.iconName"
    (badgeClick)="onCategorySelected(c.name)">
  </app-category-badge>
</div>

<!-- MAIN CONTENT: Selected badge on left, videos on right -->

  <div class="video-list-section">

      <app-video-list
  *ngIf="selectedCategory && selectedStat"
  [selectedCategory]="selectedCategory"
  [videos]="filteredVideos"
  [badgeStats]="selectedStat"
  (deleteVideo)="deleteVideo($event)"></app-video-list>

  </div>

</div>